html, body, #root {
  width: 100%;
  height: 100%;
}

body, body * {
  font-family: "Roboto Slab";
  color: #284e6d;
}

header {
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0;
}

.container, .row {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 100px);
  max-height: calc(100vh - 100px);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.col {
  flex: 0 0 calc(50% - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.team-one {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#16a8f7+0,0d66bf+100 */
background: rgb(22,168,247); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(22,168,247,1) 0%, rgba(13,102,191,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(22,168,247,1) 0%,rgba(13,102,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(22,168,247,1) 0%,rgba(13,102,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16a8f7', endColorstr='#0d66bf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color: #fff;
}

.team-two {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+100;Red+3D */
background: rgb(255,48,25); /* Old browsers */
background: -moz-linear-gradient(-45deg, rgba(255,48,25,1) 0%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(255,48,25,1) 0%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
color: #fff;
}

form {
  margin: 100px 0;
}

form button {
  display: none;
}

input {
  width: calc(100% - 60px);
  padding: 25px;
  font-size: 4rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

input.team-one {
  color: #1184d8;
}

input.team-two {
  color: #e5180d;
}

.score {
  font-size: 10rem;
  margin: auto;
  color: #fff;
}

.answer-container {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: calc(100vh - 160px);
}

.answer-container::-webkit-scrollbar { width: 0 !important }

.correct-answers {
  width: 160px;
}

.correct-answers ul {
  list-style: none;
  margin: 0;
  padding: 10px;
}

.correct-answers li {
  color: #35c735;
}

.correct-answers svg {
  margin-right: .66rem;
}

.team-name {
  background: none;
  border: 0;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  font-size: 3rem;
  color: #fff;
}

.team-name:focus {
  outline: 0;
}

.count {
  font-size: 2rem;
  background: #fff;
  padding: 10px;
  text-align: center;
  height: 60px;
  font-weight: 800;
}

.fun {
  font-style: italic;
  color: #ea47ea;
}

.incorrect-warning {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.9);
  color: red;
  font-size: 6rem;

}